body {
    background-color: rgb(83, 83, 83);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color:white;
    font-family:'Courier New', Courier, monospace;
}
#canvas {
    top: 1%;
    left: 1%;
    width: 75%;
    height: 80%;
    border-radius:1em;
    position: absolute;
    background-color: black;
    cursor:pointer;
}

#menu {
    position:absolute;
    top:84%;
    height:14%;
    left:1%;
    width:75%;
    text-align: center;
}
.menu-button {
    margin: 0px;
    margin-top: 0px;
    color:#a6c9d7;
    background-color:#131313;
    border: none;
    border-radius: 0.25em;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin-top: 1px;
}
#config {
    position:absolute;
    right:1%;
    width:22%;
    top:1%;
    height:98%;
    background-color:#1c1c1c;
    border-radius:1em;
}

.config-knob {
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-image:url("../textures/knob01.svg");
    height: 3em;
    width: 3em;
    display:inline-block;
    transform:rotate(0deg);
    cursor:pointer;
}
.config-label {
    color:inherit;
    font-size:x-large;
}

.mediasource-config {
  width:100%;
}