
/**This css is responsible for the node-config displays and it's controls */

.node-config-panel {
  flex-direction: column;
  display:flex;
}

.node-config-mediasource {
  flex:1;
}

.node-config-title {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
  font-variant-caps: all-small-caps;
  color:#f06bc2;
  background-color:rgb(56, 56, 56);
}

.node-config-controls {
  display:flex;
  flex-direction:column;
  overflow-y:auto;
  overflow-x:hidden;
}

.node-config-controls > * {
  margin-bottom:1em;
}

.node-config-slider {
  appearance: none;
  -webkit-appearance: none;
  height:0.5em;
  display:flex;
}

.node-config-slider::-moz-range-thumb,
.node-config-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
}

.node-config-select {
  -webkit-appearance: none;
	appearance: none;
	border: 0px;
	border-radius: 0.25em;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.node-config-number {
	-webkit-appearance: none;
	appearance: none;
	border: 0px;
	border-radius: 0.25em;
	margin-left: 5px;
	margin-right: 5px;
  text-align: center;
  
  -webkit-touch-callout: unset; /* iOS Safari */
    -webkit-user-select: unset; /* Safari */
     -khtml-user-select: unset; /* Konqueror HTML */
       -moz-user-select: unset; /* Old versions of Firefox */
        -ms-user-select: unset; /* Internet Explorer/Edge */
            user-select: unset; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.node-controls-colors {
  background-color:rgb(56, 56, 56);
  color:rgb(167, 167, 167);
}

.node-config-knob {
  text-align:center;
}

.node-config-knob-control {
  height:4em;
  cursor:pointer;
}

.node-config-knob-label {

}